<%- include('../../shared/includes/head', { pageTitle: 'Stocklist' }) %>

</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1>Crypto & Stock Portfolios</h1>
        <div id="landing-image">
            <img src="/images/ggg.png" alt="">
        </div>
        <h2> EZ Set Up</h2>
        <div id="landing-image">
            <img src="/images/ezsetup.png" alt="">
        </div>
    </main>
<%- include('../../shared/includes/footer') %>